__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
poetry.lock
.pyre/

node_modules/
.next/
.out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.eslintcache
*.pem

docker-compose.override.yml
*.dockerignore

*.env
!.env.example
.env.local
.env.*.local

.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.log
*.sqlite3
*.db

*.zip
*.tar.gz
*.rar
uploads/
*.pdf
*.jpg
*.png